html {

}

body {
    max-width: 700px;
    margin: auto auto;
		font-size: 18px;
		font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
    color: #333;
		font-weight: 300;
		background-color: #fefefe;
}

h1, h2, h3, h4, h5, h6 {
	font-weight: 700;
}

a {
    color: #000;
    text-decoration: underline;
    text-decoration-color: #ffd500;
}

a:hover {
    color: #ffd500;
}

header {
    text-align: center;
		margin-top: 2rem;

}

header, section {
	border-bottom: 2px solid #ffd500;
	margin-bottom: 2rem;
	padding-bottom: 1rem;
}

.logo {
	background-color: #ffd500;
	border-radius: 50%;

	width: 100px;
	height: 100px;
	margin: auto auto;
}

.logo > img {
	margin-top: .5rem;
}

main {
    margin-top: 1rem;
}

.title em {
    text-decoration: underline;
    text-decoration-style: dotted;
}

.cta {
	margin-bottom: 2rem;
}

.btn {
    background-color: #ffd500;
    margin-bottom: .5rem;
    padding: 15px 25px;
    color: #000;
    text-decoration: none;
		display: inline-block;
}

a.btn:hover {
    background-color: #333;
		color: #ffd500;
    transform: translateY(-1px);
}

.btn-accent {
    background-color: green;
}

footer {
		width: 700px;
		padding-bottom: 2rem;
		margin-bottom: 2rem;
}

footer > .donate {
	float: left;
}

footer > .follow {
	float: right;
	text-align: right;
}
